<div class="main-image">
	<div class="about-caption">
		<div class="container>">
			<div class="row">
				<div class="col-md-12">
					<div class="about-title">
						<h1>build1とは？</h1>
					</div>
					<div class="about-text">
						あなたが訪れた建物の写真や評価を投稿できるSNSサイトです。<br>
						気になった投稿にコメントを残したりお気に入り登録ができます。<br>
						お気に入りユーザーをフォローしたりユーザー同士でメッセージのやり取りもできます。<br>
						さぁ、素敵な建物や、ちょっと変わった建物など投稿してみましょう！
					</div>
				</div>
			</div>
		</div>
	</div>
</div>