<div class="row mt-md-5">
	<div class="col-md-6 mx-auto">
		<%= form_for(@post) do |f| %>
			<%= render 'posts/form', f: f %>
			<%= f.submit "投稿する", class: "btn btn-warning" %>
		<% end %>
	</div>
</div>