// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_name{
	font-size: 40px;
}
.card{
  	box-shadow: 0 0 15px gray;
}
.card-title{
	font-size: 25px;
}

.profile_image{
	border-radius: 50%;
}
