// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_image{
	border-radius: 50%;
	margin-bottom: 10px;
	margin-right: 10px;
}
.display-4{
	height: 75px;
	background-color: #33CC66;
	color: #FFFFFF;
}
.toukou{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 15px;
}
.user_image{
	margin-top: 50px;
}
.user_name{
	margin-top: 50px;
	font-size: 35px;

}
.email{
	margin-top: 50px;
	font-size: 25px;
}
.field{
	text-align: left;
	margin-top: 25px;
	margin-bottom: 15px;
}
.card{
  	box-shadow: 0 0 15px gray;
}