// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_image{
	border-radius: 50%;
}
.display-4{
	height: 75px;
	background-color: #33CC66;
	color: #FFFFFF;
}


.toukou{
	font-size: 20px;
}


.user_name{
	font-size: 35px;

}


.email{
	font-size: 25px;
}
.field{
	text-align: left;
	margin-bottom: 15px;
}
.card{
  	box-shadow: 0 0 15px gray;
}